@charset "UTF-8";


h1{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

form{
	display: flex;
	flex-direction: column;
    align-items: center;
	
}

form .registration{
    display: flex;
   flex-wrap: wrap;
    gap: 50px;
}

form .registration .gauche {

    display: flex;
    flex-direction: column;
}

form .registration .droite{

    display: flex;
    flex-direction: column;

}

 label {
	display: flex;
  width: 100px; 
  margin-right: 10px; 
}

.align{
	display: flex;
	gap: 30px;
    height: 25px;
    margin: 10px;
}


 .align input{
	display: flex;
	border: solid;
}

.test{
	display: flex;
	gap: 50px;
}

.bouton{
	display: flex;
	padding: 20px;
}

.button{
	padding: 10px 75px;
	box-shadow: 5px 5px;
}



