@charset "UTF-8";


form{
	display : flex;
	flex-direction: column;
	gap: 35px;
	font-size: 15px;
}
label {
  width: 100px; 
  margin-right: 10px; 
}

.aligne{
	display: flex;
	justify-content: center;
	margin: 200px;
}

