<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	

	<title>ENI-encheres</title>
	<link rel="stylesheet" th:href="@{/css/erreur.css}" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/encheres.css}" />
</head>



<header>

	<div th:replace="~{fragment/fragment-entete::frag-entete}"></div>
	


</header>


<div class="layout">

	<h1>Liste des encheres </h1>




	<form th:action="@{/encheres}" method="post">

		filtre :
		<input type="search" placeholder="Le nom de l'article contient" />

		<select name="categorieId">

			<option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.libelle}">
			</option>
		</select>


		<button type="submit"> Rechercher </button>
	</form>


</div>


<div class="vente">
	<div th:each="article : ${articlesVendus}" class="product-grid">



		<a th:href="@{'detailVente?noArticle=' + ${article.noArticle}}">
			<h1 th:text="${article.nomArticle}"></h1>

			<ul>
				<li th:text="${'Prix : ' + article.prixVente + '€'}"></li>
				<li th:text="${'Fin enchère : ' + article.dateFinEncheres}"></li>
				<li th:text="${'Vendeur : ' + article.vendeur.pseudo}"></li>
			</ul>
		</a>
	</div>
</div>







</body>

</html>